<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us-Noam's flowers</title>
     <link rel="stylesheet" href="../templates/style.ex1.css">
     <script defer src="../static/js_ex2.js"></script>

</head>

<body class="contactBody" onload="greet('message'); markTab()">
        <div>
            <ul class="navBar">
                <nav>
                    <li><a href="../templates/index.ex1.html">Home Page</a></li>
                    <li><a href="../templates/contactUs.html">Contact us</a></li>
                </nav>
                
            </ul>
        </div>
        
      
   
       <div class="container">
           <div class="contactBox">
               <div class="left"></div>
               <div class="right">

                <h2>Contact Us</h2>
                <input type="text" class="field" placeholder="Your Name" required maxlength="50"> 
                <input type="email" class="field"  placeholder="Your Email"> 
                <input type="tel" class="field" placeholder="Your Phone"> 
                <input type="date" class="field" placeholder="Delivery Date" > 
                <label for="agree" style="color: rgb(110, 177, 177) ;">I agree to the terms</label> 
                <input type="checkbox" id="agree" name="agree">
                <button class="btn">Send</button> 
                <label id="message"></label>
           
               </div>
               
           </div>
       </div>
</body>
</html>