<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us-Noam's flowers</title>
     <link rel="stylesheet" href="../static/style.css">
     <script defer src="../static/js_ex2.js"></script>

</head>

<body class="contactBody" onload="greet('message'); markTab()">
        <div>
            <ul class="navBar">
                <nav>
                    <li><a href="../templates/index.html">Home Page</a></li>
                    <li><a href="../templates/contactUs.html">Contact us</a></li>
                    <header>
                        <h1>Noam's Flowers</h1>
                    </header>
                </nav>
                
            </ul>
        </div>
    
        
      
   
       <div class="container">
           <div class="contactBox">
               <div class="left"></div>
               <div class="right">

                <h2>Contact Us</h2>
                <input type="text" class="field" placeholder="Your Name" required maxlength="50"> 
                <input type="email" class="field"  placeholder="Your Email"> 
                <input type="tel" class="field" placeholder="Your Phone"> 
                <input type="text" class="field" placeholder="Delivery Date" onfocus="(this.type='date')" > 
                <label for="agree" style="color: rgb(110, 177, 177) ;">I agree to the terms</label> 
                <input type="checkbox" id="agree" name="agree">
                <button class="btn">Send</button> 
                <label id="message"></label>
           
               </div>
               
           </div>
       </div>
       <footer class="footer">
        <div class="footerContainer">
            <div class="row">
                <div class="footerCol">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Follow Us</h4>
                    <div class="socialLinks">
                        <a href="#"><i class="fab fa-facebook-f"></i></li></a>
                        <a href="#"><i class="fab fa-instagram"></i></li></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></li></a>
                    </div>
                    
                </div>

            </div>
        </div>
    
    </footer>   
</body>
</html>