<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us-Noam's flowers</title>
     <link rel="stylesheet" href="../templates/contactUsStyle.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li class="active"><a href="../templates/index.ex1.html">Home Page</a></li>
                <li><a href="../templates/contactUs.html">Contact us</a></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <form action="" class="form-area">
            <div class="details-area">
                <label for="FirstName">First name</label> <br>
                <input type="text" id="FirstName" name="FirstName" required maxlength="30"> <br>
                <label for="LastName">Last name</label> <br>
                <input type="text" id="LastName" name="LastName" required maxlength="30"> <br>
                <label for="email">Email</label> <br>
                <input type="email" id="email" name="email"> <br>
                <label for="PhoneNum">Phone number</label> <br>
                <input type="tel" id="PhoneNum" name="PhoneNum"> <br>
                <label for="deliveryDate">Delivery Date </label> <br>
                <input type="date" id="deliveryDate" name="deliveryDate" > <br> 
                <label for="agree">I agree to the terms</label>
                <input type="checkbox" id="agree" name="agree"> <br> <br>
                <input type="submit"><br>
            </div>
        </form>

    </div>
</body>
</html>