
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 style="color: mediumslateblue; margin: 20px;">  Welcome to Noam's Flowers  </h1>
    </header>
    <img src="../static/flowers.jpg" alt=""> <br>
    <span style="font-size: 26px; color: mediumslateblue;">To make an order, please contact us </span>
    
</body>
<footer>
    <div>
        <nav>
         <a href="Home_Page.html"> Home Page</a> |
         <a href="contact_us.html">Conact Us</a>
       </nav>
     </div>
 </footer>
</html>