<!DOCTYPE html>
<html lang="en">
<head>
    <title>Noam's flowers</title>
    <link rel="stylesheet" type="text/css" href="../templates/style.ex1.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li class="active"><a href="#">Home Page</a></li>
                <li><a href="../templates/contact_us.html">Contact us</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Welcome to Noam's flowers</h1> 
        </div>  
        <div class="sentence"> 
            <h3>Boutique flower shop for every occasion</h3>
        </div>      
    </header>
    <footer>
        <div>
            <nav>
             <a href="../templates/index.ex1.html"> Home Page</a> |
             <a href="contact_us.html">Conact Us</a>
           </nav>
         </div> 
    </footer>
  
</body>
</html>